.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.header-txt {
  text-align: right;
}


.App-header {
  justify-content: space-between;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding-top: 10px; 
}

.header-txt {
  margin: 0; 
}
